<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="container">
<header>
    <%- include('partials/header.ejs') %>
</header>
<main>
</main>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</body>
</html>
