<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="container">
<header>
    <%- include('partials/header.ejs') %>
</header>
<main>
    <div class="text-center">
        <h1 >Bienvenido <br><%=locals.session.user.Name%></h1>
        <img src="images/logo.jpg" class="img"/>
    </div>
</main>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</body>
</html>
