<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="container">
<header>
    <%- include('partials/header.ejs') %>
</header>
<main>
    <div class="jumbotron">
        <h1>Translate</h1>
        <form method="POST" action="/translate" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Suma</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="text">
                </div>
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Traducir</button>
                </div>
            </div>
        </form>
        <p><%=text%></p>
    </div>
</main>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</body>
</html>
